body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.google-map {
	height: 100%;
  width: 100%;
}
.container-full {
  margin: 0 auto;
  width: 100%;
  padding-right: 0px;
    padding-left: 0px;
}
.navbar-static-top
{
	margin-bottom:0px!important;
}
.baseBarras
{
min-height:50px;
background-color: #2a7dab;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#8bc3e3),color-stop(2%,#3192c8),color-stop(100%,#23688f));
    background-image: -webkit-linear-gradient(#8bc3e3,#3192c8 2%,#23688f);
    background-image: linear-gradient(#8bc3e3,#3192c8 2%,#23688f);
    border-color: #000;	
}
.col3Titulo
{
	background-position: right 10px top;
	background-repeat:no-repeat;
background-image:url("http://bus.ucr.ac.cr/businterno/resources/images/granos.png");
}

